{% extends "base.html" %}
{% block content %}
<h1>{% block title %} Users transactions {% endblock %}</h1>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Currency</th>
            <th>Balance</th>
        </tr>
    </thead>

    <tbody>
    {% for user in all_users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.account.currency }}</td>
            <td>{{ user.account.balance }}</td>
            {% if user.is_staff == False %}
                <td>
                <form method = POST>
                {% csrf_token %}
                <input type = "hidden" name ="user_id" value = "{{ user.id }}">
                <button type = "submit" name = "action" value="accept"> Make admin </button>
                </form>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}