<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>

  {% if messages %}
  {% for message in messages %}
  <script>
      alert("{{ message }}")
  </script>
  {% endfor %}
  {% endif %}

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'send_money' %}">Send money</a>
            </li>
            <li>
                <a class ="nav-link" href ="{% url 'past_transactions' %}">Transactions</a>
            </li>
            <li>
                <a class ="nav-link" href ="{% url 'request_money' %}">Request Money</a>
            </li>
            <li>
                <a class ="nav-link" href ="{% url 'user_requests' %}"> See requests</a>
            </li>
            <li class = "nav-item">
                <a class="navbar-text"> Balance is {{ user.account.currency }}{{ user.account.balance }}</a>
            </li>

             {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}

            {% if user.is_staff %}
                <li>
                    <a class="nav-link" href="{% url 'admin_transactions' %}"> All transactions</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'admin_accounts' %}"> All accounts </a>
                </li>
            {% endif %}
            </ul>
        </div>
    </nav>

        {% block content %}

        {% endblock %}
    </div>

  </body>
</html>