{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-8 mx-auto">
            <form method="POST" style = "border: 1px solid black; margin:4%; padding:8%; border-radius:1%;">
            {% csrf_token %}
                    <fieldset class ="form-group">
                        {{ form|crispy }}
                    </fieldset>
                <button style ="background: blue; font-size: 2rem; padding:2%;" class ="btn btn-outline-info"
                        type="submit"><span class = "glyphicon glyphicon-log-in"></span> login</button>
                <br/>
                <sub style="text-align: left;"><a href="{% url 'register' %}" style="text-decoration: none; color: blue; padding:2%; cursor:pointer; margin-right:2%;">don't have account,sign up</a></sub>
            </form>
    </div>
{% endblock %}